@charset "utf-8";
/* CSS Document */
body{
	background-color:rgb(3,149,182);
	
}
#login{
	width:300px;
	margin:100px auto;
	background-color:#ffffff;
	padding:20px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
}
h1{
	text-align:center;
}
input{
	width:100%;
	padding:10px;
	margin:10px 0;
	border:1px solid #cccccc;
	border-radius:5px;
	
}
button{
	width:100%;
	padding:10px;
	margin:10px 0;
	border:1px solid #cccccc;
	background-color:rgb(3,186,227);
	color:#ffffff;
}